.venv
dist
setup.cfg
/home/korvo/hexlet-git/python-project-49/brain_games
/home/korvo/hexlet-git/python-project-49/brain_games/scripts/__pycache__
brain_games/scripts/__pycache__
brain_games/games/__pycache__
dist/
brain_games/__pycache__
/brain_games/__pycache__/
brain_games/__pycache__/
brain_games/__pycache__/default.cpython-312.pyc
brain_games/default.py
brain_games/games/__pycache__/game_calc.cpython-312.pyc
brain_games/games/__pycache__/game_even.cpython-312.pyc
brain_games/games/__pycache__/game_gcd.cpython-312.pyc
brain_games/games/__pycache__/game_prime.cpython-312.pyc
brain_games/games/__pycache__/game_progression.cpython-312.pyc
brain_games/games/game_calc.py
brain_games/games/game_even.py
brain_games/games/game_gcd.py
brain_games/games/game_prime.py
brain_games/games/game_progression.py
