.venv
demo.cast
demo2.cast
demo3.cast
demo4.cast
demo5.cast
dist
setup.cfg
demo7.cast
demo6.cast
setup.cfg
/home/korvo/hexlet-git/python-project-49/brain_games
/home/korvo/hexlet-git/python-project-49/brain_games/scripts/__pycache__
brain_games/scripts/__pycache__/
