.venv
dist
dist/
setup.cfg
__pycache__*
/brain_games/__pycache__/
/brain_games/__pycache__
/brain_games/__pycache__*
brain_games/games/__pycache__/
brain_games/games/__pycache__/*
brain_games/default.py
nova_sxlosilo
nova_sxlosilo.pub
saved_key
saved_key.pub